<!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width'>
      <title>Privacy Policy</title>
      <style> body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:1em; } </style>
    </head>
    <body>
    <h2>Privacy Policy</h2>

    <h3>
    MOBILE APP PRIVACY POLICY
    </h3>
    <p>
    We provide this Privacy Policy to inform you of our policies and procedures regarding the collection, use and disclosure of personal information we receive from users of our applications The term "Services", as used in this Privacy Policy, include both the Site and the Application. This Privacy Policy applies only to information that you provide to us through the Services. This Privacy Policy may be updated from time to time. We will notify you of any material changes by posting the new Privacy Policy on the primary access points to the Services. You are advised to consult this policy regularly for any changes
    </p>
    <h3>
    INFORMATION COLLECTION AND USE: PERSONALLY IDENTIFIABLE INFORMATION
  </h3>
  <p>
    In the course of using the Services, you may provide us with personally identifiable information. This refers to information about you that can be used to contact or identify you ("Personal Information"). Personal Information includes, but is not limited to, your name and email address. We use your Personal Information mainly to provide our Services and administer your inquiries. For example, if you register through the Services as a registered user or when you choose to create your own profile webpage, we will ask you for Personal Information. 
              If you choose to purchase any virtual goods as part of your use of the Services, to the extent available, we or our third party service providers may collect Personal Information from you to facilitate your payment for such virtual goods. 
              We also collect such other information that you provide in connection with your registration and/or use of the Services (e.g., without limitation, birthday, gender, zip code (on its own), individual preferences and certain information about your computer or mobile device, such as operating system, software version and device ID) ("Additional Information"). 
              We also use your Personal Information (in some cases, in conjunction with your Additional Information) to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. If you decide at any time that you no longer wish to receive such communications from us, please follow the unsubscribe instructions provided in any of the communications or update your "user preferences" information. (See the section Changing or Deleting Information, below.)
            </p>

            <h3>
    TELL-A-FRIEND
  </h3>
<p>
    If you choose to use our referral services to tell a friend about our Services, we will ask you for your friend's name and email address. We will automatically send your friend a one-time email inviting him or her to visit our applications and try the Services. We do not store this information for the purpose of sending this one-time email.
  </p>
  <h3>
    CHANGING OR DELETING YOUR INFORMATION
  </h3> 
  <p>
    All registered users may review, update, correct or delete the Personal Information in their registration profile by contacting us. If you completely delete all such information, then your account may become deactivated. If you would like us to delete your record in our system, please contact us and we will attempt to accommodate your request if we do not have any legal obligation to retain the record. See below for privacy contact information.
  </p>
  <h3>
    SECURITY
  </h3>
  <p>
    We are very concerned with safeguarding your information. We employ administrative, physical and electronic measures designed to protect your information from unauthorized access.
  </p>
  <h3>
    INTERNATIONAL TRANSFER
  </h3>
  <p>
    Your information may be transferred to - and maintained on - computers located outside of your state, province, country or other governmental jurisdiction where the privacy laws may not be as protective as those in your jurisdiction We transfers any and all information - including but not limited to Personal Information - to the United States of America for storage and processing. Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
  </p>
  <h3>
    OUR POLICY TOWARD CHILDREN
  </h3>
  <p>
    These Services are not directed to children under the age of 3. We do not knowingly collect personally identifiable information from children under the age of 3. If a parent or guardian becomes aware that his or her child has provided us with Personal Information without their consent, he or she should contact us at music.withoutwifi@gmail.com. If we become aware that a child under the age of 3 has provided us with Personal Information, we will delete such information from our files.
  </p>
  <h3>
    PHISHING
  </h3>
  <p>
    Identity theft and the practice currently known as "phishing" are of great concern to us. Safeguarding information to help protect you from identity theft is a top priority. We do not and will not, at any time, request your credit card information, your account ID, login password, or national identification numbers in a non-secure or unsolicited e-mail or telephone communication.
  </p>
  <h3>
    LOCATION SERVICES:
  </h3>
  <p>
    We do NOT request, collect, or access your location information.
  </p>
  <h3>
    THIRD PARTY APPS / LINKS
  </h3>
  <p>
        Inside our apps or services we display ads / links to other companies or mobile applications. When you click on ads / links of third parties in our apps or services, you may leave the app or service. We do not responsible for the privacy practices adopted by third parties. We recommend that you read their privacy policies.
      </p>
      <h3>
    SECURITY
  </h3>
  <p>
        We are very concerned about safeguarding the confidentiality of your information. We do not collect Personal Information, and we employ administrative, physical and electronic measures designed to protect your Non-Personal Information from unauthorized access and use.
      </p>
      <h3>
    Your Privacy
  </h3>
  <p>
        We do not store or retain any personal information that can be used to identify you (the end user), unless specifically stated in the application (for example, an e-mail address used for account registration). No data specific to the end user will be shared or sold to third parties. We have no interest in housing and storing users personal information or data.
      </p>
      <h3>
    CONTACTING US
  </h3>
  <p>
    If you have any questions about this Privacy Policy, please <a href="topmobileappsandgames@gmail.com">contact us</a>
  </p>
    
    </body>
    </html>
      